{{ define "_gist_metadata_table" }}
{{ with .metadataFile }}
<div class="rounded-md border border-1 border-gray-200 dark:border-gray-700 overflow-auto" data-file="{{ .Filename }}">
    <div class="border-b-1 border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 my-auto block">
        <div class="ml-4 py-1.5 flex">
            <span class="flex-auto inline-flex items-center text-sm text-slate-700 dark:text-slate-300 filename" id="file-metadata">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-slate-700 dark:text-slate-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                </svg>
                <span class="ml-2 mr-1">{{ .Filename }}</span>
                <span class="hidden sm:block">
                    <span class="text-gray-400"> · {{ .HumanSize }} · {{ .Type }}</span>
                </span>
            </span>
        </div>
    </div>
    <div class="overflow-auto">
        <div class="code">
            <table class="chroma table-code w-full {{ if $.currentStyle }}{{ if $.currentStyle.SoftWrap }}whitespace-pre-wrap{{ else }}whitespace-pre{{ end }}{{ else }}whitespace-pre{{ end }}" data-filename-slug="metadata" data-filename="{{ .Filename }}" style="font-size: 0.8em; border-spacing: 0; border-collapse: collapse;">
                <tbody>
                {{ $i := 1 }}
                {{ range $line := .Lines }}<tr><td id="file-metadata-{{$i}}" class="select-none line-num px-4">{{$i}}</td><td class="line-code break-all">{{ $line | safe }}</td></tr>{{ $i = inc $i }}{{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
